*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#cccccc;
}
h1{
	text-align:center;
	padding:10px;
}
h2{
	text-align:center;
	padding-bottom:15px;
}
.player_one{
	display:flex;
	flex-direction:column;
	background-color:white;
	padding:10px;
	border:1px solid black;
	border-radius:5px;
	margin:10px;
	margin-bottom:0px;
}
.player_two{
	display:flex;
	flex-direction:column;
	width:50%;
	background-color:white;
	padding:10px;
	border:1px solid black;
	border-radius:5px;
	margin:0% 23%;
}
.player_two audio{
	width:100%;
}
.player_one a{
	text-decoration:none;
	color:black;
}